.jumbotron {
    background: url(HeaderImage.jpeg) no-repeat bottom center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
}

.admin {
    position: absolute;
    top: 10px;
    right: 10px;
}